* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Myfont;
    src: url(/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    font-family: Myfont2;
    src: url(/font/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: Myfont2;
}

/* nav top */
.navTop {
    height: 29px;
    background: #4a4a4a;
}

.container {
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}

.span8 {
    width: 90vh;
    float: left;
}

.phone-top {
    color: #FFF;
    display: flex;
    align-items: center;
    margin-top: 4.5px;
    gap: 8px;
}

span {
    font-size: small;
}

.phone-top a {
    font-weight: 450;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
}

.span4 {
    display: flex;
    justify-content: end;
}

.navTop ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebb618;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

.navTop ul li a {
    width: 29px;
    height: 29px;
}

.phone-top a:hover {
    color: #ebb618;
    transition-duration: 0.5s;
}

.navTop ul li a:hover {
    background-color: black;
    cursor: pointer;
    transition-duration: 0.8s;
}

/* nav top end here */


/* main nav start */
.main-nav {
    background: #000000;
    width: 100%;
    padding-bottom: 7.5px;
    align-items: center;
}

.center {
    width: 74%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.image-section {
    width: 20%;

    img {
        margin-top: 10px;
    }
}

.my-div {
    width: 80%;
}

.list {
    text-transform: uppercase;
    margin-top: 53px;
    gap: 20px;
    justify-content: end;
    display: flex;
    list-style: none;
}

.list li a {
    font-size: 15.5px;
    color: gray;
    text-decoration: none;
}

.list :hover {
    color: #ebb618;
    transition-duration: 0.9s;
}

/* main nav end here */


/* image section start */
.image-1 img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slide {
    top: 50%;
    left: 13%;
    position: absolute;
}

.slide h1 {
    font-weight: 400;
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
    color: #FFF;
    background-color: rgba(14, 13, 13, 0.7);
}

.heading {
    text-align: left;
    margin-bottom: 10px;
    width: 70%;
}

/* image section end here */


/* main section start here */
.mainsection {
    width: 74%;
    margin: auto;
}

.row {
    text-align: center;
}

h1 span {
    font-size: 35px;
    color: #ebb618;
}

.row h1 {
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px;
}

.row p {
    font-weight: 400;
    font-size: small;
    margin: 0 0 20px 0;
}

/* main section end */


/* feature site start */
.featureSite {
    padding: 18px 0 9px 0;
    width: 100%;
}

.container2 {
    width: 74%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.row2 {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0 0 9px 25px;

    img {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #ebb618;
    }

    img:hover {
        cursor: pointer;
        background-color: #ebb615;
        opacity: 0.5;
        transition-duration: 0.5s;
    }

    h3 {
        margin: 9px 85px;
        font-size: 15px;
        color: #000000;
        text-transform: uppercase;
    }

    .online {
        font-size: 15px;
        margin: 9px 50px;
    }

    p {
        font-family: "open sans", Helvetica, sans-serif;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        margin-top: 12px;
        color: #252525;
    }
}

/* feature site end */


/* order site start */
.ordernow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;

    .order {
        width: 74%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* order site end */

/* hero section start */
.hero1 {
    width: 100%;
    display: flex;
    justify-content: center;

    .boys {
        margin-top: 30px;
        width: 74%;
        display: flex;
    }

    .star {
        width: 50%;
    }

    .mylist {
        font-family: "open sans", Helvetica, sans-serif;
        list-style: square;
        font-size: small;
        line-height: 30px;
        margin: 10px 0 0 30px;
    }

    h2 {
        text-transform: uppercase;
    }

    h4 {
        text-transform: uppercase;
        margin-top: 15px;
        font-size: 15px;
    }

    .jeep img {
        height: 70%;
    }
}

/* hero section end here */

/* 000 */
.parah {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .para1 {
        width: 74%;
        background-color: #ebb615;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: start;
        padding: 10px;
        font-style: italic;
        border-left: 3px solid #000000;
    }

    .para1 p {
        margin-left: 10px;
    }

    .para1:hover {
        background-color: #000000;
        color: white;
        border-left: 3px solid #ebb615;
    }
}

/* 00 */


/* 000 */
.container-fluid {
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;

    .images {
        width: 74%;
        display: flex;
        margin: 50px 0 30px 0;
        gap: 15px;

        .imgs img {
            height: auto;
            max-width: 100%;
        }

        .imgs h3 {
            text-align: center;
            text-transform: uppercase;
            max-height: 18px;
            font-size: large;
            padding-bottom: 30px;
        }
    }
}

/* 000 */




/* 00 */
.clients {
    background-color: #4a4a4a;
    width: 100%;
    height: 90px;


    .container {
        width: 74%;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        display: flex;

    }

    .paradiv {
        margin-top: 30px;
        color: white;
        font-family: inherit;
        text-transform: uppercase;
    }

    .paradiv2 {
        margin-top: 15px;
        margin-left: auto;


        img {
            width: 100%;
        }
    }
}

/* 000 */

/* 00 */
.copyRight {
    height: 45px;


    .container9 {
        width: 74%;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .span {
        font-size: small;
        float: left;
        margin-top: 13px;
    }

    .span p a {
        text-decoration: none;
        color: black;
    }

    .span6 {
        font-size: small;
        float: right;
        margin-top: 13px;
    }

    .span6 p a {
        text-decoration: none;
        color: black;
    }

}

/* the end here */